/*****************************************************************************/
/*
/* Post's Content
/*
/*****************************************************************************/

.meta {
	text-align: center;
}

.post {
	padding: 10px 10px 0px 10px;
	line-height: 1.3em;
	text-align: justify;
	color: #666666;	
}

.post_excerpt {
	padding: 0px 10px;
	text-align: justify;
}

.post_header {
	padding: 0px 10px;
}

.post_footer {
	padding: 0px 10px;
}

.post_featured_image {
	width: auto;
	height: auto;
	max-width: 600px;
	max-height: 300px;
	display: block;
	margin: 0px auto 20px auto;
}

/*****************************************************************************/
/*
/* Text and Code
/*
/*****************************************************************************/

h1 {
	margin-top: 0px;
	font-size: 54px;
	text-align: center;
}

.highlight {
	margin: 10px;
}

.post pre {
	margin: 0px;
	padding: 10px;
}

.post ul, .post ol {
	margin-left: 1.35em;
}
