/*****************************************************************************/
/*
/* Post's Content
/*
/*****************************************************************************/

.meta {
	margin: 0px;
	text-align: center;
	font-style: italic;
	font-family: 'Lato Lite';
}

.post {
	color: #666666;
	font-size: 22px;
	line-height: 1.5;
	padding: 0px 10px;
	text-align: justify;
	text-justify: inter-word;
}

.post_header {
	padding: 20px 10px;
	margin-bottom: 40px;
}

.post_footer {
	padding: 0px 10px;
}

.post_featured_image {
	height: auto;
	max-width: 100%;
	max-height: 300px;
	margin: 30px auto;
	display: block;
}

.post_image_group {
	text-align: center;
}

.post p img {
	width: auto;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.excerpt_post_title * {
	color: inherit;
}

.excerpt_post_title {
	color: #FF9C01;
}

.excerpt_post_title:hover {
	color: #94D5CA;
}

.excerpt_post_title:visited {
	color: #FF9C01;
}

.excerpt_post_title:visited:hover {
	color: #94D5CA;
}

.read_more_button {
	color: #999999;
	font-size: 20px;
	padding: 10px 20px;
	border: 1px solid;
	border-radius: 30px;
	display: inline-block;
	text-transform: capitalize;
}

.read_more_button:hover {
	color: #94D5CA;
}

.read_more_button:visited {
	color: #999999;
}

.read_more_button:visited:hover {
	color: #94D5CA;
}

/*****************************************************************************/
/*
/* Blockquote
/*
/*****************************************************************************/

blockquote {
	margin: 20px;
	padding: 10px 0px 0px 50px;
	position: relative;
}

blockquote blockquote {
	margin-bottom: 0px;
}

blockquote::before {
	content: "\201C"; /*Unicode for Left Double Quote*/
	/*Font*/
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 120px;
	color: #EEEEEE;
	z-index: -1;

	/*Positioning*/
	position: absolute;
	left: -15px;
	top: -45px;
}

blockquote::after {
	/*Reset to make sure*/
	content: "";
}

blockquote {
	font-family: 'Lato Lite';
}

blockquote p em {
	font-style: italic;
}

.quote_author {
	display: block;
	text-align: right;
	font-style: italic;
}

/*****************************************************************************/
/*
/* Text and Code
/*
/*****************************************************************************/

h1 {
	font-size: 48px;
	line-height: 1.2;
	text-align: center;
}

.highlight {
	margin: 30px 0px;
	text-shadow: none;
}

.post pre {
	margin: 0px;
	padding: 10px;
}

.post ul, .post ol {
	margin-left: 1.35em;
}

.post .emoji {
	width: 20;
}

code {
	padding: 0px;
	color: #586E75;
	text-shadow: none;
	background-color: #EFEFEF;
}

.comments {
	color: black; /* disqus determines the theme to use based on the text color */
	padding: 10px;
}

/*****************************************************************************/
/*
/* Responsive Design Code
/*
/*****************************************************************************/

/* PHONE - 767px */
@media screen and (max-width:767px) {
	h1 {
		font-size: 48px;
	}

	h4 {
		font-size: 14px;
	}
}
