/* IE10+ VIEWPORT FIX */
@-ms-viewport { width:device-width; }
@viewport { width:device-width; }

/*****************************************************************************/
/*
/* Texts and General Background
/*
/*****************************************************************************/

body {
	-webkit-font-smoothing:antialiased;
	text-shadow: 0px 1px white;
	background-color: #FEFEFE;
	font-family: 'Lato';
	font-weight: normal;
	text-align: center;
	font-size: 18px;
	color: #888888;
	
	/* Fix for code wrapping */
	word-wrap: break-word;
	-webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

main {
	padding: 20px;
	min-height: 100%;
	background-color: floralwhite;
}

strong {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a {
	color: #48ACB5;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

a:hover {
	color: #94D5CA;
}

a:visited {
	color: #48ACB5;
}

a:visited:hover {
	color: #94D5CA;
}

h1 {
	margin: 0px;
	padding: 0px;
	color: #FF9C01;
	font-size: 36px;
	font-weight: normal;
	line-height: normal;
	text-shadow: 0px 1px white;
	text-transform: capitalize;
	font-family: 'Sorts Mill Goudy';
}

h1 a {
	color: #FF9C01;
}

h1 a:hover {
	color: #94D5CA;
}

h1 a:visited {
	color: #FF9C01;
}

h2 {
	color: #4E5860;
	font-weight: normal;
	font-family: 'Lato Bold';
}

h3 {
	color: #4E5860;
	font-weight: normal;
	font-family: 'Lato Bold';
}

h4 {
	margin: 10px;
	color: #A9A9A9;
	font-size: 18px;
	font-weight: normal;
}

h5 {
	margin: 0px;
	color: #A9A9A9;
	font-weight: normal;
}

p {
	max-width: 800px;
	margin: 30px auto;
	padding: 0px 30px;
}

/*****************************************************************************/
/*
/* Text Selection
/*
/*****************************************************************************/

*::selection {
  background: #F8C72E;
  text-shadow: none;
  color: #FFFFFF;
}

*::-moz-selection {
  background: #F8C72E;
  text-shadow: none;
  color: #FFFFFF;
}

*::-webkit-selection {
  background: #F8C72E;
  text-shadow: none;
  color: #FFFFFF;
}

/*****************************************************************************/
/*
/* Header and Footer
/*
/*****************************************************************************/

header {
	clear: both;
}

footer {
	color: #A9A9A9;
}

.copyright {
	font-style: italic;
	margin: 20px;
}
