/*****************************************************************************/
/*
/* Home Screen General
/*
/*****************************************************************************/

.mainContainer h1 {
	padding: 0px;
	margin: 0.4em;
	color: #888888;
	font-size: 32px;
	line-height: 50px;
	font-weight: normal;
	font-family: 'Lato Lite';
	text-transform: capitalize;
}

.mainContainer h1 span {
	color: #FF9C01;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Sorts Mill Goudy';
}

/*****************************************************************************/
/*
/* Intro Area
/*
/*****************************************************************************/

#intro {
	margin-top: 20px;
	position: relative;
}

#profilePicture {
	display: inline-block;
	position: relative;
	height: 240px;
	width: 240px;
}

.roundedImage {
	border-radius: 120px;
	height: 240px;
	width: 240px;
	z-index: 0;
}

#floatingElements {
	position: relative;
}

.floatingText {
	position: absolute;
	display: inline-block;
	width: 33%; /* Fallback for browsers that don't support calc  */
	width: calc(50% - 120px - 10px);
	font-family: 'Lato Lite';
	font-size: 14px;
	z-index: 1;
}

.floatingText p {
	margin: 0px;
}

#wifeLink {
	left: 0;
	text-align: right;
	margin-top: 210px;
	margin-right: 10px;
}

#softwareCraftsmanshipLink {
	margin: -15px 10px 0px 10px;
	text-align: left;
}

/*****************************************************************************/
/*
/* Main Content Area
/*
/*****************************************************************************/

#description {
	margin: auto;
	max-width: 720px;
	margin-top: 25px;
	margin-bottom: 25px;
}

/*****************************************************************************/
/*
/* Links Area
/*
/*****************************************************************************/

#links {
	margin-top: 20px;
	/* Animation */
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.socialButton {
	margin: 4px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	background-color: lime;
	text-shadow: none;
	/* Animation */
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    /* Icons Font */
    font-family: 'Grands';
    font-size: 36px;
    color: white;
}

.socialButton:hover {
	background-color: red;
	/* Animation */
	-webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}

#socialButtonTwitter {
	background-color: #26A6D1;
}

#socialButtonTwitter:hover {
	background-color: #D9592E;
}

#socialButtonLinkedIn {
	background-color: #3F729B;
}

#socialButtonLinkedIn:hover {
	background-color: #F08557;
}

#socialButtonGitHub {
	background-color: #DD4B39;
}

#socialButtonGitHub:hover {
	background-color: #22B4C6;
}

#socialButtonEmail {
	background-color: #F1C40F;
}

#socialButtonEmail:hover {
	background-color: #6414A2;
}

#socialButtonStackOverflow {
	background-color: #F29C36;
}

#socialButtonStackOverflow:hover {
	background-color: #26AB64;
}

/*****************************************************************************/
/*
/* Responsive Design Code
/*
/*****************************************************************************/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	h1 {
		font-size: 24px;
		line-height: normal;
	}

	h1 span {
		font-size: 26px;
	}

	.roundedImage {
		border-radius: 80px;
		height: 160px;
		width: 160px;
	}

	.socialButton {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		font-size: 32px;
	}

	.socialButton:hover {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
}

	#softwareCraftsmanshipLink {
		display: none;
	}

	#wifeLink {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	#softwareCraftsmanshipLink {
		display: none;
	}

	#wifeLink {
		display: none;
	}
}
