/*****************************************************************************/
/*
/* Navbar Layout
/*
/*****************************************************************************/

.nav_bar {
	width: 100%;
}

.nav_hold {
	width: 95%;
	margin: 0px auto;
	max-width: 1024px;
}

.nav_hold {
	color: #888888;
	overflow: hidden;
}

.nav_hold a {
	color: #888888;
}

.nav_hold a:hover {
	color: #94D5CA;
}

.nav_hold a:visited {
	color: #888888;
}

.nav_hold a:visited:hover {
	color: #94D5CA;
}

.nav_logo {
	font-family: 'Lato Lite';
	font-size: 28px;
	padding: 20px 10px;
	display: block;
	float: left;
}

.nav_list {
	list-style-type: none;
	font-size: 22px;
	display: block;
	float: right;
	padding: 0px;
	margin: 3.5px 0px;
}

.nav_list li {
	float: left;
}

.nav_list a {
	color: #888888;
	display: block;
	padding: 20px 10px;
}

.nav_list a:hover {
	color: #94D5CA;
}

.nav_list a:visited {
	color: #888888;
}

.nav_list a:visited:hover {
	color: #94D5CA;
}

.social_links_list {
	list-style-type: none;
	font-family: 'Grands';
	font-size: 36px;
	float: right;
	padding: 0px;
	margin: 10px auto;
}

.social_links_list li {
	display: inline-block;
}

.social_links_list a {
	color: inherit;
	display: block;
	padding: 10px 10px;
}

.social_links_list a:hover {
	color: #94D5CA;
}

.social_links_list a:visited {
	color: inherit;
}

.social_links_list a:visited:hover {
	color: #94D5CA;
}

.current_menu_item a {
	color: #48ACB5;
}

.current_menu_item a:visited {
	color: #48ACB5;
}

.current_menu_item a:visited:hover {
	color: #48ACB5;
}

.nav_menu {
	display: none;
}

/*****************************************************************************/
/*
/* Responsive Design Code
/*
/*****************************************************************************/

@media screen and (max-width:850px) {
	.social_links_list {
		height: 0px;
		display: block;
		margin: 0px auto;
		overflow: hidden;
	}
	
	.social_links_list li {
		float: none;
		display: inline-block;
	}
	
	.social_links_list_open {
		height: auto;
	}
}

/* PHONE - 767px */
@media screen and (max-width:767px) {
	.nav_menu {
		padding: 20px 10px;
		font-size: 25px;
		cursor: pointer;
		display: block;
		float: right;
	}
	
	.nav_list {
		height: 0px;
		width: 100%;
		float: left;
		overflow: hidden;
	}
	
	.nav_list li {
		width: 100%;
	}
	
	.nav_list a {
		padding: 10px;
	}
	
	.social_links_list {
		width: 100%;
	}
	
	.nav_bar_open {
		background-color: #EEEEEE;
	}
	
	.nav_list_open {
		height: auto;
	}
}
