@font-face {
	font-family: 'Grands';
	src:url('fonts/Grands.eot');
	src:url('fonts/Grands.eot?#iefix') format('embedded-opentype'),
		url('fonts/Grands.svg#Grands') format('svg'),
		url('fonts/Grands.woff') format('woff'),
		url('fonts/Grands.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	
	body {
/*
		background:url('images/brickwall@2x.png');
		background-size: 200px 138px;
*/
/*
		background:url('images/cream_dust@2x.png');
		background-size: 100px 100px;
*/
/*
		background:url('images/subtle_white_feathers@2x.png');
		background-size: 1000px 666px;
*/
/*
		background:url('images/grey@2x.png');
		background-size: 794px 644px;
*/
		
	}
}

body {
/*
	background:url('images/brickwall.png');
	background-size: 100px 69px;
*/
/*
	background:url('images/cream_dust.png');
	background-size: 50px 50px;
*/
/*
	background:url('images/grey.png');
	background-size: 397px 322px;
*/
	
	text-align: center;
	font-family: Lato;
	font-weight: 400;
	font-size: 18px;
}

h1 {
	color: #FF9C01;
	font-size: 36px;
	font-weight: 900;
	text-transform: capitalize;
}

h5 {
	color: #A9A9A9;
	font-weight: 400;
}

p {
	color: #444444;
}

a:link {
	color: #D9592E;
	text-decoration: none;
}

a:hover {
	color: #94D5CA;
}

a:visited {
	color: #2F777D;
}

a:visited:hover {
	color: #94D5CA;
}

a:active {
	color: #D9592E;
}

.mainContainer {
	margin: 0px auto;
	max-width: 800px;
}

.socialButton {
	margin: 4px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	background-color: lime;
	/* Animation */
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    /* Icons Font */
    font-family: 'Grands';
    font-size: 36px;
    color: white;
}

.socialButton:hover {
	background-color: red;
	/*
	border-radius: 30px;
	height: 60px;
	width: 60px;
	*/
}

#intro {
	margin-top: 40px;
}

#descrition {
	margin-top: 40px;
	margin-bottom: 40px;
}

#links {
	margin-top: 25px;
}

#profilePicture {
	border-radius: 80px;
}

#socialButtonTwitter {
	background-color: #26A6D1;
}

#socialButtonTwitter:hover {
	background-color: #D9592E;
}

#socialButtonLinkedIn {
	background-color: #3F729B;
}

#socialButtonLinkedIn:hover {
	background-color: #F08557;
}

#socialButtonGitHub {
	background-color: #DD4B39;
}

#socialButtonGitHub:hover {
	background-color: #22B4C6;
}

#socialButtonEmail {
	background-color: #F1C40F;
}

#socialButtonEmail:hover {
	background-color: #6414A2;
}

#socialButtonStackOverflow {
	background-color: #F29C36;
}

#socialButtonStackOverflow:hover {
	background-color: #26AB64;
}
