@font-face {
	font-family: 'Grands';
	src:url('fonts/Grands.eot');
	src:url('fonts/Grands.eot?#iefix') format('embedded-opentype'),
		url('fonts/Grands.svg#Grands') format('svg'),
		url('fonts/Grands.woff') format('woff'),
		url('fonts/Grands.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #343e47;/* #3c3a48; *//* #123950; */
	text-align: center;
	font-family: Lato;
	font-weight: 300;
	font-size: 18px;
	color: white;
}

strong {
	color: #94D5CA;/* #26A6D1; *//* #FF9C01; */
	font-weight: normal;
	text-decoration: none;
}

h1 {
	color: white;
	margin: 0.4em;
	font-size: 48px;
	font-weight: 300;
	text-transform: capitalize;
}

h1 span {
	color: #94D5CA;/* #F1C40F; *//* #FF9C01; */
	font-weight: 700;
	text-transform: uppercase;
}

h5 {
	margin: 0.4em;
	color: #A9A9A9;
	font-weight: 300;
}

a:link {
	color: #FF9C01;/* #F1C40F; */
	text-decoration: none;
}

a:hover {
	color: #D9592E;
}

a:visited {
	color: #FF9C01;
}

a:visited:hover {
	color: #D9592E;
}

a:active {
	color: #D9592E;
}

.mainContainer {
	margin: 0px auto;
	max-width: 900px;
}

.socialButton {
	margin: 4px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	background-color: lime;
	/* Animation */
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    /* Icons Font */
    font-family: 'Grands';
    font-size: 36px;
    color: white;
}

.socialButton:hover {
	background-color: red;
	/* Animation */
	-webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}

#intro {
	margin-top: 40px;
}

#descrition {
	margin-top: 40px;
	margin-bottom: 40px;
}

#links {
	margin: 25px;
}

#profilePicture {
	border-radius: 100px;
}

#socialButtonTwitter {
	background-color: #26A6D1;
}

#socialButtonTwitter:hover {
	background-color: #D9592E;
}

#socialButtonLinkedIn {
	background-color: #3F729B;
}

#socialButtonLinkedIn:hover {
	background-color: #F08557;
}

#socialButtonGitHub {
	background-color: #DD4B39;
}

#socialButtonGitHub:hover {
	background-color: #22B4C6;
}

#socialButtonEmail {
	background-color: #F1C40F;
}

#socialButtonEmail:hover {
	background-color: #6414A2;
}

#socialButtonStackOverflow {
	background-color: #F29C36;
}

#socialButtonStackOverflow:hover {
	background-color: #26AB64;
}
