<!-- Blog posts -->
{% for post in paginator.posts %}
	<article>
		<header class="post_header">
			<a href="{{ post.url }}" class="excerpt_post_title">
				{% if post.featured_image %}
					<img class="post_featured_image" src="/images/posts/{{post.featured_image}}" alt="{{ post.title }}" width="{{post.featured_image_width}}" />
				{% endif %}
				<h1>{{ post.title }}</h1>
			</a>
			<h4 class="meta">{{ post.date | date_to_long_string }}</h4>
		</header>
		<section class="post">
			{% if post.content contains "<!-- more -->" %}
				{{ post.content | split:"<!-- more -->" | first % }}
				<p><a class="read_more_button" href="{{ post.url }}">Continue reading</a></p>
			{% else %}
				{{ post.content }}
			{% endif %}
		</section>
	</article>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">&lsaquo; Older Posts</a>
	{% else %}
		<span class="older">&lsaquo; Older Posts</span>
	{% endif %}
	<span class="page_number "> | Page: {{ paginator.page }} of {{ paginator.total_pages }} | </span>
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">Next &rsaquo;</a>
	{% else %}
		<span class="newer">Next &rsaquo;</span>
	{% endif %}
</div>