<!-- Blog Posts -->
{% for post in paginator.posts %}
    {% include blog_excerpt.html post=post %}
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
	{% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&larr; Older Posts</a>
	{% endif %}
	{% if paginator.next_page and paginator.previous_page %}
		<span class="page-number-divider">|</span>
	{% endif %}
	{% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/blog" class="previous">Newer Posts &rarr;</a>
        {% else %}
    	    <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts &rarr;</a>
        {% endif %}
	{% endif %}
</div>