<!-- Social Links -->
<a href="http://twitter.com/gtranchedone">
	<div class="socialButton" id="socialButtonTwitter">&#xe005;</div>
</a>
<a href="http://linkedin.com/in/gtranchedone">
	<div class="socialButton" id="socialButtonLinkedIn">&#xe015;</div>
</a>
<a href="http://github.com/gtranchedone">
<div class="socialButton" id="socialButtonGitHub">&#xe01d;</div>
</a>
<a href="http://stackoverflow.com/users/737105/gianluca-tranchedone">
	<div class="socialButton" id="socialButtonStackOverflow">&#xe008;</div>
</a>
<a href="mailto:g.tranchedone@gmail.com">
	<div class="socialButton" id="socialButtonEmail">&#xe023;</div>
</a>
<!-- END Social Links -->