$brand-color: white;
$brand-info: white;

$base-font-family:      'Lato', Helvetica, Arial, sans-serif;
$base-font-size:        20px;
$base-line-height:      1.5;

$spacing-unit:          30px;

$background-color:		#6F737E;

$text-color:		    	white;
$details-text-color:	white;
$titles-color:			  white;
$quotes-large-color:	$brand-color;
$links-color-normal:	$brand-color;
$links-color-hover:		#FE522C;

$alt-links-color-normal: white;
$alt-links-color-hover: #FE522C;

$text-highlight-color:		   	#FFFFFF;
$highlight-background-color: 	$brand-info;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$max-content-width: 800px;
