---
---

/*****************************************************************************/
/*
/* Intro Area
/*
/*****************************************************************************/

.centered_content_container {
	display: table;
	width: 100%;
	min-height: 100%;
	color: white;
	text-align: center;
	background-color: #FC6536;
}

.centered_content {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   padding: 20px;
}

#intro {
    position: relative;
    text-align: center;
	margin: 0.5em auto;
	max-width: 750px;
    
    h1 {
	    padding: 0px;
        margin: 0.3em;
        color: inherit;
        font-size: 42px;
        text-transform: none;
    }

    h3 {
        padding: 0px;
	    margin: 0.3em;
        color: inherit;
        font-size: 28px;
        font-weight: 300;
        line-height: normal;
        text-transform: none;
    }
    
    p {
	    margin: 0.3em;
    }
    
    .profile_picture {
	    border: 2px white solid;
	    border-radius: 50px;
	    margin: 0.3em auto;
	    width: 100px;
	    height: auto;
    }
}

#main {
    a {
	    color: #F8C72E;
	    
	    &:hover {
            color: #44E9BC;
        }
        
        &:visited {
            color: #F8C72E;
        }

        &:visited:hover {
            color: #44E9BC;
        }
    }
}

#social {
	margin: 0.5em;
}

#arrow_down {
	margin: 0.5em auto;
}

/*****************************************************************************/
/*
/* Links Area
/*
/*****************************************************************************/

.socialButton {
	color: white;
    
    &:hover {
	    color: #F8C72E;
    }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#posts {
	margin-top: 30px;
}

/*****************************************************************************/
/*
/* Responsive Design Code
/*
/*****************************************************************************/

@media only screen and (max-width: 568px) {
    
    #intro {
        h1 {
            font-size: 24px;
        }
        
        h3 {
            font-size: 24px;
        }
    }
    
    .slide-button {
    	display: none;
	}
    
}
