---
---
@import "variables";

/*****************************************************************************/
/*
/* Intro Area
/*
/*****************************************************************************/

.centered_content_container {
  color: white;
  background-color: $brand-color;
}

#intro {
  position: relative;
  text-align: center;
  margin: 20px auto;
  max-width: 750px;

  h1, h2, h3 {
    padding: 0px;
    margin: 0.3em;
    color: inherit;
    line-height: normal;
    text-transform: none;
  }

  h1 {
    font-size: 42px;
  }
  
  h2 {
    font-weight: normal;
  }

  h3 {
    font-size: 28px;
    font-weight: 300;
  }

  p {
    margin: 0.3em;
  }

  .profile_picture {
    border: 2px white solid;
    border-radius: 50px;
    margin: 0.3em auto;
    width: 100px;
    height: auto;
  }
}

#main {
  a, a:visited {
    color: $alt-links-color-normal;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: $alt-links-color-hover;
    }

  }
  
  a.btn, a .socialButton {
    font-weight: normal;
    
    &:hover, &:visited:hover {
      color: $alt-links-color-hover;
    }
  }

  a.btn-lg {
    color: inherit;
  }

  .btn-info {
    background-color: $brand-color;
    border-color: inherit;
  }
}

#arrow_down {
  margin: 0.5em auto;
}

/*****************************************************************************/
/*
/* Links Area
/*
/*****************************************************************************/

.socialButton {
  color: white;

  &:hover {
    color: inherit;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#posts {
  margin-top: 30px;
}

/*****************************************************************************/
/*
/* Responsive Design Code
/*
/*****************************************************************************/

@media only screen and (max-width: 568px) {

  #intro {
    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 24px;
    }
  }

  .slide-button {
    display: none;
  }

}
