<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2005/10/profile">
		<link rel="icon" type="image/png" href="/images/favicon.png">
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <!-- Syntax Highlighting CSS -->
        <!-- <link href="/css/syntax.css" type="text/css" rel="stylesheet"/> -->
		<link rel="stylesheet" href="/highlight/styles/xcode.css">
		<script src="/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
        <!-- Custom CSS -->
        <link href="/css/fonts.css" type="text/css" rel="stylesheet"/>
        <link href="/css/common.css" type="text/css" rel="stylesheet"/>
        <link href="/css/navbar.css" type="text/css" rel="stylesheet"/>
        {% if page.style %}
        <link href={{ page.style }} type="text/css" rel="stylesheet"/>
        {% endif %}
        <!-- JQuery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <!-- JavaScript -->
        <script type="text/javascript" src="/javascript.js"></script>
        <!-- RSS Feed -->
        <link href="/blog/feed.xml" type="application/atom+xml" rel="alternate" title="Atom RSS Feed"/>
        {% include google_analytics.html %}
        <!-- Bit.ly Verification -->
        <meta name="bitly-verification" content="1629f330e22d"/>
        <!-- Common Social Media Optimization -->
        {% if page.social_description %}
        <html itemscope itemtype="http://schema.org/Article">
        <meta itemprop="name" content="{{ page.title }}">
		<meta itemprop="description" content="{{ page.social_description }}"> 
		<meta name="description" content="{{ page.social_description }}" />
		{% endif %}
		<!-- Google Authorship -->
		{% if page.author_url %}
		<link rel="author" href="{{ page.author_url }}"/>
		{% endif %}
		{% if page.featured_image %}
		<meta itemprop="image" content="{{ site.url }}/images/posts/{{ page.featured_image }}">
		{% endif %}
        <!-- Facebook Sharing Optimization -->
        {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        {% endif %}
		{% if page.featured_image %}
		<meta property="og:image" content="{{ site.url }}/images/posts/{{ page.featured_image }}" />
		{% endif %}
		{% if page.social_description %}
		<meta property="og:description" content="{{ page.social_description }}" />
		<meta property="og:type" content="article" />
		{% endif %}
    </head>
    <body>
    	{% if  page.show_navigation_bar %}
    	<header>
    		{% include navigation_bar.html %}
		</header>
		{% endif %}
    	{{ content }}
    	<footer>
    		{% include social_links.html %}
    		<div class="copyright">
				<h5>&copy; 2013-
					<script type="text/javascript">
						now = new Date
						theYear = now.getYear()
						if (theYear < 1900) theYear += 1900
						document.write(theYear)
					</script> Gianluca Tranchedone. All rights reserved.
				</h5>
    		</div>
		</footer>
    </body>
</html>
