<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2005/10/profile">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/png" href="{{ site.imagesurl }}favicon.png">
        <!-- Syntax Highlighting CSS -->
		<link rel="stylesheet" href="/assets/highlight/styles/xcode.css">
		<script src="/assets/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
        <!-- Custom CSS -->
        <link href="/assets/css/main.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/css/navbar.css" type="text/css" rel="stylesheet"/>
        {% if page.style %}
        <link href=/assets/css/{{ page.style }} type="text/css" rel="stylesheet"/>
        {% endif %}
        <!-- JQuery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <!-- JavaScript -->
        <script type="text/javascript" src="/assets/javascript.js"></script>
        <!-- RSS Feed -->
        <link href="/blog/feed.xml" type="application/atom+xml" rel="alternate" title="Atom RSS Feed"/>
        <!-- Google Analytics -->
        {% include google_analytics.html %}
        <!-- Bit.ly Verification -->
        <meta name="bitly-verification" content="1629f330e22d"/>
        <!-- Common Social Media Optimization -->
        {% if page.social-description %}
        <html itemscope itemtype="http://schema.org/Article">
        <meta itemprop="name" content="{{ page.title }}">
		<meta itemprop="description" content="{{ page.social-description }}"> 
		<meta name="description" content="{{ page.social-description }}" />
		{% endif %}
		<!-- Google Authorship -->
		{% if page.author %}
		<link rel="canonical" href="{{ site.url }}{{ page.url }}/"/>
		<link rel="author" href="https://plus.google.com/u/1/{{ page.author.google }}"/>
		{% endif %}
		{% if page.featured-image %}
		<meta itemprop="image" content="{{ site.url }}{{ site.imagesurl }}{{ page.featured-image }}">
		{% endif %}
        <!-- Facebook Sharing Optimization -->
        {% if page.title %}
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:url" content="{{ site.url }}{{ page.url }}/"/>
        {% endif %}
        {% if page.author %}
		<meta property="article:author" content="https://facebook.com/{{ page.author.facebook }}"/>
		<meta property="og:type" content="article"/>
		{% endif %}
		{% if page.sharing-image %}
		<meta property="og:image" content="{{ site.url }}{{ site.imagesurl }}{{ page.sharing-image }}" />
		{% endif %}
		{% if page.social-description %}
		<meta property="og:description" content="{{ page.social-description }}"/>
		{% endif %}
    </head>
    <body>
    	{% if  page.show_navigation_bar %}
    	<header>
    		{% include navigation_bar.html %}
		</header>
		{% endif %}
    	{{ content }}
    	<footer>
    		{% include social_links.html %}
    		<div class="copyright">
				<h4>&copy; 2013-
					<script type="text/javascript">
						now = new Date
						theYear = now.getYear()
						if (theYear < 1900) theYear += 1900
						document.write(theYear)
					</script> Gianluca Tranchedone. All rights reserved.
				</h4>
    		</div>
		</footer>
    </body>
</html>
