<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ page.title }}</title>
        <!--<link href="favicon.ico" type="image/x-icon" rel="shortcut icon" title="favicon">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <!-- Syntax Highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css"/>
        <!-- Custom CSS -->
        <link href="/css/common.css" type="text/css" rel="stylesheet"/>
        <link href="/css/navbar.css" type="text/css" rel="stylesheet"/>
        <link href={{ page.style }} type="text/css" rel="stylesheet"/>
        <!-- JQuery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <!-- JavaScript -->
        <script type="text/javascript" src="/javascript.js"></script>
        <!-- RSS Feed -->
        <link href="/blog/feed.xml" type="application/atom+xml" rel="alternate" title="Atom RSS Feed"/>
        {% include google_analytics.html %}
    </head>
    <body>
    	{% if  page.show_navigation_bar %}
    	<div id="header">
    		{% include navigation_bar.html %}
		</div>
		{% endif %}
    	<div id="page_container">
    		{{ content }}
    	</div>
    	<div id="footer">
    		{% if  page.show_site_footer %}
    			{% include social_links.html %}
    		{% endif %}
    		<div id="copyright">
				<h5>&copy; 2013-
					<script type="text/javascript">
						now = new Date
						theYear = now.getYear()
						if (theYear < 1900) theYear += 1900
						document.write(theYear)
					</script> Gianluca Tranchedone. All rights reserved.
				</h5>
    		</div>
		</div>
    </body>
</html>
